@use './mixin' as *;

.button {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background-color: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent; 
    transition: .5s ease;

    @include hover {
        background-color: transparent;
        color: var(--main-color);
        border-color: var(--main-color);
    }
}
